@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '/node_modules/sal.js/dist/sal.css';

@import url('/node_modules/@glidejs/glide/dist/css/glide.core.min.css');

@import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css");

/* This is all you. */
@layer base{

    @font-face {
        font-family: "Afacad";
        src: url("/resources/css/fonts/Afacad-VariableFont_wght.woff2") format("woff2-variations");
        font-weight: 50 950;
        font-stretch: 75% 125%;
        font-style: normal;
    }

    @font-face {
        font-family: "Afacad";
        src: url("/resources/css/fonts/Afacad-Italic-VariableFont_wght.woff2") format("woff2-variations");
        font-weight: 50 950;
        font-stretch: 75% 125%;
        font-style: italic;
    }

    @font-face {
        font-family: "Geologica";
        src: url("/resources/css/fonts/Geologica-VariableFont.woff2") format("woff2-variations");
        font-weight: 50 950;
        font-stretch: 75% 125%;
        font-style: oblique 0deg 20deg;
    }

}


@layer components{

    .container{
        @apply px-6
    }

    .btn{
        @apply px-6 h-10 flex items-center gap-2 justify-center duration-200 font-body leading-none
    }

    .btn-icon{
        @apply px-0 w-10;
    }

    .btn-primary{
        @apply bg-blue-600 text-white
        hover:bg-blue-700
    }

    .btn-primary-outline{
        @apply border border-blue-600 text-blue-600
        hover:bg-blue-600 hover:text-white
    }

    .btn-light{
        @apply bg-white text-blue-600
        hover:bg-blue-700 hover:text-white
    }

    .btn-light-outline{
        @apply border border-white text-white
        hover:bg-blue-700 hover:text-white
    }

    .bard img{
        @apply mb-8;
    }

    .bard h1{
        @apply text-4xl w-full text-black !font-display;
    }

    .bard h2{
        @apply text-3xl w-full text-black !font-display;
    }

    .bard h3{
        @apply text-2xl w-full text-black !font-display;
    }

    .bard p{
        @apply w-full text-xl text-black/80 font-body mb-6;
    }

    .bard ul{
        @apply w-full text-xl text-black/80 font-body;
    }

    .bard ul li{
        @apply list-disc italic;
    }

    .bard ol{
        @apply w-full text-xl text-black/80 font-body;
    }

    .bard ol li{
        @apply list-decimal italic;
    }

    .bard table{
        @apply p-4 border border-gray-200;
    }

    .bard table{
        @apply p-4 border border-gray-200;
    }

    .bard tr{
        @apply border-b border-gray-200
    }

    .bard th{
        @apply text-left text-base font-semibold text-gray-500 p-1 border-r border-gray-200;
    }

    .bard td{
        @apply text-left text-base font-normal text-gray-950 p-1 border-r border-gray-200;
    }

    .bard a{
        @apply !text-blue-500 !underline
    }

    .blog-card-content img{
        @apply hidden;
    }

    .bard-second ul, .bard-second ol{
        @apply list-inside;
    }

    .bard-second ul{
        @apply list-disc;
    }

    .bard-second ol{
        @apply list-decimal;
    }

    .bard-second ul li p, .bard-second ol li p{
        @apply inline;
    }
}