<div class="w-full h-[600px] lg:h-[600px] flex flex-col items-center justify-end py-12 lg:py-24 relative overflow-hidden">
    <div class="absolute left-0 top-0 w-full h-full -z-20 brightness-[0.3] pointer-events-none">
        <img src="{{ hero_image.url }}" alt="{{ hero_image.alt }}" class="w-full h-full object-cover">
    </div>
    <div class="container grid grid-cols-4 lg:grid-cols-8 gap-4 lg:gap-6">
        <div class="flex flex-col gap-8 col-span-4">

            <div class="flex flex-col gap-4">
                <h1 class=" font-display text-5xl lg:text-8xl text-white font-light">{{ hero_headline }}</h1>
                <div class="text-white/80 font-body text-xl flex flex-col gap-2 pr-12 lg:pr-64">
                    {{ hero_description }}
                </div>
            </div>

        </div>
    </div>
</div>



<div class="flex justify-center py-20 lg:py-40 bg-blue-50">
    <div class="container grid grid-cols-4 lg:grid-cols-8 gap-4 lg:gap-6">
        <div class="col-span-4 lg:col-span-6 lg:col-start-3 flex flex-col gap-2 text-2xl font-body text-black/80 bard-second">
            {{ bio_description }}
        </div>
    </div>
</div>

<div class="flex justify-center py-20 lg:py-40">
    <div class="container flex flex-col gap-12">
        {{ about }}
        <div class="grid grid-cols-4 lg:grid-cols-8 gap-4 lg:gap-6 border-b border-b-black/20 pb-12">
            <p class="col-span-4 lg:col-span-2 text-blue-600 font-body text-xl">{{ headline }}</p>
            <div class="col-span-4 lg:col-span-6 lg:col-start-3 text-black/80 font-body text-2xl flex flex-col gap-2 bard-second">
                {{ description }}
            </div>
        </div>
        {{ /about }}
    </div>
</div>


{{ if image_banner_asset }}

<div class="flex justify-center pb-20 lg:pb-40">
    <div class="container flex flex-col gap-12">
        <img src="{{ image_banner_asset.url }}" alt="{{ image_banner_asset.alt }}">
    </div>
</div>

{{ /if }}