<div class="w-full flex flex-col items-center justify-end py-12 pt-20 lg:py-24 lg:pt-32 relative overflow-hidden bg-blue-600">
    <div class="container grid grid-cols-4 lg:grid-cols-8 gap-4 lg:gap-6">
        <div class="flex flex-col gap-8 col-span-4 lg:col-start-3">

            <div class="flex flex-col gap-4">
                <h1 class=" font-display text-5xl lg:text-8xl text-white font-light">{{ title }}</h1>
                <div class="text-white/80 font-body text-xl flex flex-col gap-2 pr-12 lg:pr-64">
                    {{ date }}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="flex justify-center py-20">
    <div class="container grid grid-cols-4 lg:grid-cols-8 gap-4 lg:gap-6">
        <div class="flex flex-col gap-2 items-center col-span-4 lg:col-start-3 bard">
            {{ content }}
        </div>
    </div>
</div>